@model IEnumerable<Namaskara.Models.Category>

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Name, "ProductIndex", "Store", new { id = item.CategoryId, cat = item.Name }, null)</li>
            
    }
</ul>



