@model IEnumerable<Namaskara.Models.Category>

<div id="categories">
    <div class="catName">
        <h2>Categories</h2>
    </div>
    
    
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Name, "ProductIndex", "Store", new { id = item.CategoryId }, null)</li>
            

        }
    </ul>

</div>




