@model IEnumerable<Namaskara.Models.Category>

<div id="categories">
    <h2>Categories</h2>
    
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Name, "ProductIndex", "Store", new { id = item.CategoryId, cat = item.Name }, null)</li>

        }
    </ul>

</div>




