
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <p>THIS MODAL IS WORKING</p>

            <h1>GRACE, STOP EATING!!</h1>
        </div>

    </div>
            
</div>