@model IEnumerable<Namaskara.Models.Category>

@{
    ViewBag.Title = "Products";
}

<div id="featuredProduct" class="fleft-main">
    <div>
        @{ Html.RenderAction("CategoryList", "Store");}
    </div>

    <div class="fleft-right">
        <h2>Featured Products</h2>
        
    </div>
</div>
<div class="clear"></div>


    





