/*-------------------- DECLARING FONT FACE -----------------*/

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.otf') format('opentype');
}

/* -------------------- KEYFRAMES ---------------------------*/

@keyframes indent-animation{
    100% {text-indent: 20px;}
}

/*----------------------- RESET ------------------------------*/
p, h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    color: black;
}

.fleft-main > div {
    float: left;
}

.fleft-right {
    width: 740px;
}


#wrapper {
    padding: 20px 30px;
    margin: 0 auto;
    width: 1040px;
    
}

#wrapper > div {
    width: 970px;
    padding: 0 35px;
    
    display: block;
    margin: 0 auto;
}



/* ----------------------- HEADER CSS -----------------------*/
div#header {
    height: 161px;
}

#header > div {
    float: left;
}

#leftHeader {
    width: 710px;
}

#logo {
    height: 121px;
    background-color: red;
}

#logo img{
    height: 121px;
    width: 710px;
    
}

#navigation li{
    display: inline-block;
    padding-right: 15px;
}

#navigation a{
    font-size: 15px;
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}

#navigation a:hover{
    text-decoration: none;
    color: rgb(127, 162, 81);
    border-bottom: 2px solid rgb(127, 162, 81);
}

#rightHeader {
    
    text-align: center;
}

#rightHeader > div{
    padding: 5px 5px;
}

#rightHeader a{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

#rightHeader img{
    width: 40px;
    height: 40px; 
}

#rightHeader input{
   background-color: lightgray;
   outline: none;
   box-shadow: none;
   -webkit-box-shadow: none;
   

}



/* ----------------------- BODY CSS ------------------------*/
div#mainBody {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ------- HOME CSS -------*/

#home strong {
    font-size: 30px;

}
#categories li{
    line-height: 34px;
    width: 200px; 
}

#categories h2, #categories a{
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
}

#categories h2{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 9px;    
}

#categories a{
    font-size: 14px;
    display: block;
    color: black;
    width: inherit;
    
}

#categories a:hover{
    text-decoration: none;
    color: white;
    
}

#categories li:hover{ 
    background-color: rgb(127, 162, 81);
    animation: indent-animation 0.5s forwards;
    -webkit-animation: indent-animation 1s forwards;
    
}

#slideshow {
    width: 700px;
    height: 425px;
}



/*------ PRODUCT INDEX -----*/


#productIndex img{
    width: 200px;
    height: 200px;
}


.box {
    margin: 10px 10px;
    float: left;
    width: 200px;
    height: 240px;
}

#products p{
    text-align: center;
}

/*-------------------- SHOPPING CART -----------------------*/
#shoppingCart {
    width: 900px;
}

#shoppingCart h3{
    font-family: BebasNeue;
    font-weight: bold;
}


#shoppingCart table {
    width: inherit;
}

#shoppingCart tr {
    border-bottom: 1px solid black;
    line-height: 90px;
    text-align: center;
    font-weight: bold;
}

#shoppingCart .table-head {
    border-top: 1px solid black;
    line-height: 50px;
    background-color: rgb(127, 162, 81);
    
}

#shoppingCart .cartButtons {
    background-color: rgb(127, 162, 81);
    margin: 10px 10px;
    padding: 10px 10px;
}

/* ------------------------ END OF BODY CSS------------------*/
/* ----------------------- FOOTER CSS ------------------------*/
div#footer {
    padding-top: 40px;
    border-top: 1px solid grey;
    
}

#footer a{
    color: black;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------- HELPER CSS ------------------------*/
.clear {
    clear: both;
}

.float-left {
    float:left;
}

.float-right {
    float: right;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}

/* ----------------------- BOOTSTRAP OVERRIDE -------------------*/

.modal-dialog {
    margin-top: 150px;
}