/*-------------------- DECLARING FONT FACE -----------------*/

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.otf') format('opentype');
}

/* -------------------- KEYFRAMES ---------------------------*/

@keyframes indent-animation{
    100% {text-indent: 20px;}
}

/*----------------------- RESET ------------------------------*/
p, h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.fleft-main > div {
    float: left;
}

.fleft-right {
    width: 690px;
    margin-left: 10px;
}


#wrapper {
    padding: 20px 30px;
    margin: 0 auto;
    width: 1040px;
    
}

#wrapper > div {
    width: 970px;
    padding: 0 35px;
    
    display: block;
    margin: 0 auto;
}



/* ----------------------- HEADER CSS -----------------------*/
div#header {
    height: 161px;
}

#header > div {
    float: left;
}

#leftHeader {
    width: 710px;
}

div#logo {
    height: 121px;
    
}

#logo img{
    height: 121px;
    width: 710px;
    
}

#navigation li{
    display: inline-block;
    padding-right: 15px;
}

#navigation a{
    font-size: 15px;
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}

#navigation a:hover{
    text-decoration: none;
    color: rgb(127, 162, 81);
    border-bottom: 2px solid rgb(127, 162, 81);
}

#rightHeader {
    
    text-align: center;
}

#rightHeader > div{
    padding: 5px 5px;
}

#rightHeader a{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

#rightHeader img{
    width: 40px;
    height: 40px; 
}

#rightHeader input{
   background-color: lightgray;
   outline: none;
   box-shadow: none;
   -webkit-box-shadow: none;
   

}



/* ----------------------- BODY CSS ------------------------*/
div#mainBody {
    padding-top: 30px;
    padding-bottom: 30px;
}

#mainBody > div {
    margin: 0 auto;

}



/* ------- HOME CSS -------*/

#home strong {
    font-size: 30px;

}
#categories li{
    line-height: 34px;
    width: 200px; 
}

#categories h2, #categories a{
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
}

#categories h2{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 9px;    
}

#categories a{
    font-size: 14px;
    display: block;
    color: black;
    width: inherit;
    
}

#categories a:hover{
    text-decoration: none;
    color: white;
    
}

#categories li:hover{ 
    background-color: rgb(127, 162, 81);
    animation: indent-animation 0.5s forwards;
    -webkit-animation: indent-animation 1s forwards;
    
}

#slideshow {
    width: 700px;
    height: 425px;
}



/*------ PRODUCT INDEX -----*/

.catName {
    background-color: rgb(127, 162, 81);
    padding: 10px 15px;
    margin-bottom: 10px;
}

#productIndex img{
    width: 206px;
    height: 185px;
    display: block;
    margin: 0 auto;
}


.box {
    margin: 10px 10px;
    float: left;
    width: 210px;
    height: 320px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid white;
    position: relative;
    
}

.box:hover {
    border-color: lightgrey;
    box-shadow: 0 0 13px 4px lightgrey;
}

div.wish-list-icon {
    background-image: url("../Images/iconwishlist.png");
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    
}

div.wish-list-icon:hover {
    background-image: url("../Images/iconwishlist_hover.png");
    
}


#products p{
    text-align: center;
    margin: 0 5px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

a.addCart {
    text-decoration: none;
    color: white;
}

.addCart div {
    padding: 7px 5px;
    margin: 0 auto;
    margin-top: 5px;
    width: 100px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    
}
.addCart div:hover {
    background-color: rgb(127, 162, 81);
    
    /*rgb(127, 162, 81)*/
}


#detailsPartial {
    margin-top: 150px;
    width: 650px;
    
}

#detailsPartial img{
    width: 200px;
    height: 190px;
}

#detailsPartial select{
    margin-top: 15px;
}

#detailsPartial input[type="number"]{
    width: 50px;
    text-align: center;
}

#detailsPartial input[type="number"]::-webkit-inner-spin-button,
#detailsPartial input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


#detailsPartial button{
    height: 50px;
    padding: 0 20px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
}

#detailsPartial button:hover{
    background-color: mediumpurple;
}

#detailsPartial .row .col-sm-6 > div{
    margin: 15px 0;
   
}

#detailsPartial, #detailsPartial p, #detailsPartial h5 {
    font-family: 'Montserrat', sans-serif;
}

.old-price {
    font-size: 15px;
    color: green;
}

.new-price {
    font-size: 17px;
    color: red;
}

.normal-price {
    font-size: 17px;
    color: green;
}
/*------ SHOPPING CART ------*/
#shoppingCart {
    width: 900px;
}

#shoppingCart h3{
    font-family: BebasNeue;
    font-weight: bold;
}

#shoppingCart img {
    height: 80px;
    width: 80px;
}


#shoppingCart table {
    width: inherit;
}

#shoppingCart tr {
    border-bottom: 1px solid black;
    line-height: 90px;
    text-align: center;
    font-weight: bold;
}

#shoppingCart .table-head {
    border-top: 1px solid black;
    line-height: 50px;
    background-color: rgb(127, 162, 81);
    
}

#shoppingCart .cartButtons {
    background-color: rgb(127, 162, 81);
    margin: 10px 10px;
    padding: 10px 10px;
}

/*------- CHECKOUT CSS ------*/

div.label-checkout {
    background-color: rgb(127, 162, 81);
    padding: 0 1px;
}

.detail-template {
    float: left;
    width: 310px;
    margin: 20px 10px;
    padding: 20px 0;   
}

#shippingDetails {
    display: none;
}

.label-checkout + div {
    border: 1px solid grey;
    padding-bottom: 20px;
}

.detail-template h6,
.detail-template h5,
#checkout {
    font-family: 'Montserrat', sans-serif;
}

.label-checkout h4 {
    color: white;
    line-height: 40px;
    padding: 0 10px;
    font-family: BebasNeue;
}

.detailsBox {
    width: 133px;
    float: left;
    margin: 10px 10px;
}

#checkout .detailsBox input,
#checkout .detailsBox select {
    width: inherit;
    height: 30px;
    font-size: 12px;
}

div.address {
    width: 286px;
}


#same-addr-div{
    margin-left: 10px;
}

#same-addr-div{
    font-size: 12px;
    
}

#same-addr-div input[type=checkbox]{
    height: 14px;
    display: inline-block;
    position: relative;
    top: 3px;
    
}

.detail-template#shippingMethod {
    width: 500px;
    font-size: 14px;
}

.detail-template#shippingMethod p,
.detail-template#shippingMethod p + input[type=radio],
.detail-template#payment-method p,
.detail-template#payment-method p + input[type=radio] {
    
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
    
}

span.deliveryCost {
    display: block;
    margin-left: 26px;
    color: blue;
    
}

#promo-input {
    margin-bottom: 20px;
}

#checkout .cartButtons {
    width: 150px;
    padding: 5px 0;
    background-color: rgb(127, 162, 81);
    margin-top: 10px;
    text-align: center;
    font-family: BebasNeue;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

#checkout .cartButtons:hover {
    color: black;
}


#reviewOrder {
    display:none;
}

#reviewOrder > .detail-template{
    float:none;
    width: auto;
}

#order-review table{
    width: 878px;
}


#order-review td {
    padding: 10px 10px;
    text-align: center;
    font-size: 13px;
}

#order-review tbody tr {
    border-top: 1px solid black;
}
    
#order-review thead td{
    background-color: lightgray;
    text-align: center;
}



/* ------------------------ END OF BODY CSS------------------*/
/* ----------------------- FOOTER CSS ------------------------*/
div#footer {
    padding-top: 40px;
    border-top: 1px solid grey;
    
}

#footer a{
    color: black;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------- HELPER CSS ------------------------*/
.clear {
    clear: both;
}

.float-left {
    float:left;
}

.float-right {
    float: right;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}

/* ----------------------- BOOTSTRAP OVERRIDE -------------------*/

.glyphicon-remove {
    cursor: pointer;
}