/*-------------------- DECLARING FONT FACE -----------------*/

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.otf') format('opentype');
}

/* -------------------- KEYFRAMES ---------------------------*/

@keyframes indent-animation{
    100% {text-indent: 20px;}
}

/*rgb(127, 162, 81)*/

/*----------------------- BASIC TEMPLATE ------------------------------*/

html {
    overflow-y: scroll;
}

p, h1,h2,h3,h4,h5,h6, a, dd, dt, td, th {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}



.fleft-main > div {
    float: left;
}

.fleft-right {
    width: 690px;
    margin-left: 10px;
}

button.button-namas{
    background-color: #6ab40a;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin: 15px 0;
    text-decoration: none;
    padding: 5px 10px;
    font-family: BebasNeue;
    color: white;
    border: none;
    min-width: 100px;
}

button.button-namas:hover{
    color: black;
}

a.button-namas{
    background-color: #6ab40a;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin: 15px 0;
    text-decoration: none;
    padding: 5px 10px;
    font-family: BebasNeue;
    color: white;
    border: none;
    min-width: 100px;
}

a.button-namas:hover{
    color: black;
}

.detail-template {
    float: left;
    width: 310px;
    margin: 0 10px;
    
}

div.label-checkout {
    background-color: #6ab40a;
    padding: 0 1px;
}

.label-checkout h4 {
    
    line-height: 40px;
    padding: 0 10px;
    font-family: BebasNeue;
    color: white;
}

.label-checkout + div {
    border: 1px solid grey;
    padding-bottom: 20px;
}

.left-content {
    float: left;
    
}

.left-content .detail-template .label-checkout + div > div{
    padding: 10px;
    width: 80%;
    margin: 0 auto;

}

.left-content li{
    margin: 5px;
    list-style-type: initial;
}

.right-sidebar ul{
    margin: 0;
    
}

.right-sidebar {
    background-color: #6ab40a;
    width: 200px;
    float: right;
   
    padding: 15px;
    padding-left: 40px;
    
}

.right-sidebar li{
    list-style-type: initial;
    color: white;

}

.right-sidebar a{
    font-family: BebasNeue;
    font-size: 20px;
    color: white;
}

#wrapper {
    padding: 20px 30px;
    margin: 0 auto;
    width: 1040px;
   
}

#wrapper > div {
    width: 970px;
    padding: 0 35px;
    
    display: block;
    margin: 0 auto;
}

body.modal-open {
    margin-right: 0;
}



/* ----------------------- HEADER CSS -----------------------*/
div#header {
    height: 161px;
    border-bottom: 1px solid black;
}

#header a {
    color: black;
    
}

#header > div {
    float: left;
}

#leftHeader {
    width: 710px;
}

div#logo {
    height: 121px;
    padding-left: 250px;
    
}

#logo img{
    height: 121px;
    width: 410px;
    
}

#navigation {
    margin-top: 10px;
}

#navigation li{
    display: inline-block;
    padding-right: 15px;
    
}

#navigation a{
    font-size: 17px;
    letter-spacing: 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#navigation a:hover{
    text-decoration: none;
    color: rgb(127, 162, 81);
    border-bottom: 2px solid rgb(127, 162, 81);
}

#rightHeader {
    
    text-align: center;
}

#rightHeader > div{
    padding: 5px 5px;
}

#rightHeader a{
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

div.cartImage{
    width: auto;
    height: 50px;
    
    background: url("../Images/cartwarnahitam.gif") no-repeat center;
}

div.cartImage:hover,
div.cartImage.hovered {
    background: url("../Images/cartwarnaputih.gif") no-repeat center;
}

#cartDiv {
    padding-top: 10px;
}

#cartDiv:hover {
    background-color: #006347;
}

#cartDiv a:hover,
#cartDiv #cart.hovered{
    color: white;
    text-decoration: none;
}

#cartDiv .cartsum-button a{
    color: white;
}

#cartDiv .cartsum-button a:hover{
    color: black;
}

#cartDiv .price {
    text-align: right;
}

#cartDiv > div {
    position: absolute;
    background-color: white;
    border: 10px solid #006347;
    width: 400px;
    margin-left: -200px;
    display: none;
    z-index: 4;
    
}

#cartDiv td{
    border-bottom: 1px solid black;
    font-size: 13px;
    padding: 10px 10px;
}




#rightHeader input{
   background-color: lightgray;
   outline: none;
   box-shadow: none;
   -webkit-box-shadow: none;
}

#searchResult {
    width: 170px;
    position:absolute;
    background-color: white;
    border: 1px solid black;
    display: none;
    z-index: 4;
    
}

#searchResult li{
    list-style-type: none;
    border-bottom: 1px solid black;
    line-height: 30px;
}

#searchResult li:hover{
    background: lightgrey;
}

#searchResult a{
    text-decoration: none;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
}



/* ----------------------- BODY CSS ------------------------*/
div#mainBody {
    padding-top: 30px;
    padding-bottom: 30px;
}

#mainBody > div {
    margin: 0 auto;
  
}



/* ------- HOME CSS -------*/

#home strong {
    font-size: 30px;

}


#categories li{
    line-height: 34px;
    width: 200px; 
}

#categories a{
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
}

/*#categories h2{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 9px;    
}*/

#categories h2{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

#categories a{
    font-size: 14px;
    display: block;
    color: black;
    width: inherit;
    
}

#categories a:hover{
    text-decoration: none;
    color: white;
}

#categories li:hover{ 
    background-color: #6ab40a;
    animation: indent-animation 0.5s forwards;
    -webkit-animation: indent-animation 1s forwards; 
}

#categories li.active{ 
    background-color: #6ab40a;
    text-indent: 20px;
    
}

#slideshow {
    width: 700px;
    height: 425px;
}

/* ------ COntact Us----------*/
#contact td {
    padding: 5px 5px;
}

#contact input,
#contact textarea{
    font-size: 14px;
    resize:none;

}


/*------ PRODUCT INDEX -----*/

.catName {
    background-color: #6ab40a;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.catName h2{
    font-size: 20px;
    color:white;
    text-transform: uppercase;
}

#productIndex img{
    width: 206px;
    height: 185px;
    display: block;
    margin: 0 auto;
}

#productIndex .tooltip-inner{
    background-color: lightgray;
    color: black;
}

.box {
    margin: 20px 10px;
    float: left;
    width: 210px;
    height: 320px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid white;
    position: relative;
    
}

.box:hover {
    border-color: lightgrey;
    box-shadow: 0 0 13px 4px lightgrey;
    -webkit-box-shadow: 0 0 13px 4px lightgrey;
}

.box p.price {
    font-weight: bold;
    color: orange;
}

div.wish-list-icon {
    background-image: url("../Images/iconwishlist.png");
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    
}

div.wish-list-icon:hover {
    background-image: url("../Images/iconwishlist_hover.png");
    
}

.sale-icon {
    float: left;
    position:absolute;
    left: -5px;
    top: -15px;
}

#productIndex div.sale-icon img{
    width: 50px;
    height: 50px;
}



#products p{
    text-align: center;
    margin: 0 5px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

a.addCart {
    text-decoration: none;
    color: white;
}

.addCart div {
    padding: 7px 5px;
    margin: 0 auto;
    margin-top: 5px;
    width: 100px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    
}
.addCart div:hover {
    background-color: #6ab40a;

}


#detailsPartial {
    margin-top: 150px;
    width: 650px;
    
}

.modal-div{
    float: left;
    margin: 15px;
}

.modal-div-sm {
    width: 200px;
}

.modal-div-md {
    width: 300px;
}

#detailsPartial img{
    width: 200px;
    height: 190px;
}

#detailsPartial select{
    margin-top: 15px;
}

#detailsPartial input[type="number"]{
    width: 50px;
    text-align: center;
}

#detailsPartial input[type="number"]::-webkit-inner-spin-button,
#detailsPartial input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


#detailsPartial button{
    height: 50px;
    padding: 0 20px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
}

#detailsPartial button:hover{
    background-color: #6ab40a;
}

#detailsPartial .row .modal-div > div{
    margin: 15px 0;
   
}

#detailsPartial, #detailsPartial p, #detailsPartial h5 {
    font-family: 'Montserrat', sans-serif;
}

.old-price {
    font-size: 15px;
    color: green;
}

.new-price {
    font-size: 17px;
    color: red;
}

.normal-price {
    font-size: 17px;
    color: green;
}
/*------ Details-product-----*/



#details-product img{
    width: 250px;
    height: 250px;
}

#details-product select{
    margin-top: 15px;
}

#details-product input[type="number"]{
    width: 50px;
    text-align: center;
}

#details-product input[type="number"]::-webkit-inner-spin-button,
#details-product input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

#details-product .row .col-sm-6 > div{
    margin: 15px 0;
   
}

#details-product input[type=text],
#details-product h5,
#details-product select {
    font-family: 'Montserrat', sans-serif;
}


#details-product button{
    height: 50px;
    padding: 0 20px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#details-product button:hover{
    background-color: #6ab40a;
}

#details-product .description {
    margin-top: 50px;
    padding: 10px;
    background-color: rgb(229,229,229);
    width: 500px;
    height: 200px;
    overflow: auto;
}

#details-product .description p{
    font-size: 12px;
}


/*------ SHOPPING CART ------*/
#shoppingCart {
    width: 900px;
}

#shoppingCart a{
    color: black;
}

#shoppingCart h3{
    font-family: BebasNeue;
    font-weight: bold;
}

#shoppingCart img {
    height: 80px;
    width: 80px;
}


#shoppingCart table {
    width: inherit;
    
}

#shoppingCart tr {
    border-bottom: 1px solid black;
    
    text-align: center;
    font-weight: bold;
}

#shoppingCart .table-head {
    border-top: 1px solid black;
    line-height: 50px;
    background-color: #6ab40a;
    
}

#shoppingCart input[type=number]{
    width: 45px;
    height: 30px;
}

#shoppingCart .cartButtons {
    background-color: #6ab40a;
    margin: 10px 0px;
    padding: 10px 10px;
    color: black;
}

#shoppingCart .cartButtons a:hover{
    text-decoration: none;
    color: white;
}

/*------- CHECKOUT CSS ------*/


#shippingDetails {
    display: none;
}


.detail-template h6,
.detail-template h5,
#checkout {
    font-family: 'Montserrat', sans-serif;
}



.detailsBox {
    width: 133px;
    float: left;
    margin: 10px 10px;
}

#checkout .detailsBox input,
#checkout .detailsBox select {
    width: inherit;
    height: 30px;
    font-size: 12px;
}

div.address {
    width: 286px;
}


#same-addr-div{
    margin-left: 10px;
}

#same-addr-div{
    font-size: 12px;
    
}

#same-addr-div input[type=checkbox]{
    height: 14px;
    display: inline-block;
    position: relative;
    top: 3px;
    
}

.detail-template#shippingMethod {
    width: 500px;
    font-size: 14px;
}

.detail-template#shippingMethod p,
.detail-template#shippingMethod p + input[type=radio],
.detail-template#payment-method p,
.detail-template#payment-method p + input[type=radio] {
    
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
    
}

span.deliveryCost {
    display: block;
    margin-left: 26px;
    color: blue;
    
}

#promo-input {
    margin-bottom: 20px;
}

#checkout .cartButtons {
    width: 150px;
    padding: 5px 0;
    background-color: #6ab40a;
    margin-top: 10px;
    text-align: center;
    font-family: BebasNeue;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

#checkout .cartButtons:hover {
    color: black;
}

#checkout .cartButtons:disabled {
    background-color: grey;
}

#checkout .cartButtons:hover:disabled {
    color: white;
}

#reviewOrder {
    display:none;
}

#reviewOrder > .detail-template{
    float:none;
    width: auto;
}

#order-review table{
    width: 878px;
}


#order-review td {
    padding: 10px 10px;
    text-align: center;
    font-size: 13px;
}

#order-review tbody tr {
    border-top: 1px solid black;
}
    
#order-review thead td{
    background-color: lightgray;
    text-align: center;
}

/*--------------------------------------- COMPLETE CSS ---------------------------*/


#complete > div {
    margin: 0 auto;
    text-align: center;
}

#complete img {
    height: 0;
    width: 0;
}

#complete p {
    margin: 20px 0;
}

#complete img + p {
    font-size: 23px;
}

#complete img + p + p {
    font-size: 12px;
    color: red;
}

/*----------------------------------------- PAYMENT CONFIRMATION ---------------------------*/

#payment-confirmation .detail-template{
    width: 300px;
    
}

#payment-confirmation .detailsBox{
    width: 200px;
    
}

#payment-confirmation .button-namas{
    margin-left: 10px;
    
}

#how-to-pay.detail-template {
    width: 500px;
}

#how-to-pay.detail-template p{
    margin: 10px;
}

/*----------------------------------------------------------------- STORE MANAGER CSS------------------------------*/
table#itemList td,
table#itemList th{
    padding: 5px 25px;
}

table#itemList th{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: lightgray;
}

/*------------------------------------------------------- LOGIN CSS -------------------------------------------------*/
#login-page .detail-template{
    width: 700px;
    float:none;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
#login-page table{
    margin: 20px auto;
    width: 400px;
}

#login-page td{
    padding: 5px;
}



/*------------------------------- ACCOUNT INFORMATION ---------------------------*/
#user-information .detail-template{
    width: 640px;
    float: none;
    margin: 0 auto;
}

#user-edit-information .detail-template{
    width: 640px;
    float: none;
    margin: 0 auto;
    
}

#user-edit-information .detail-template .label-checkout + div > div{
    width: 60%;
    
}

#user-edit-information .detailsBox input,
#user-edit-information .detailsBox select {
    width: inherit;
    height: 30px;
    font-size: 12px;
}

.label-checkout + div {
    border: 1px solid grey;
    padding-bottom: 20px;
}

/* --------------------------- ORDER HISTORY ----------------------------*/

#order-history .detail-template{
    width: 670px;
    
}

#order-history .label-checkout + div > div{
    width: 100%;
}

#order-history {
    font-size: 13px;
}


#order-history .detail-template a{
    color: blue;
}

#orderModal .modal-dialog {
    width: 800px;
    margin-top: 150px;
}

/*--------------------------------------- WISHLIST ---------------------------------*/

#wishlist .detail-template {
    width: 670px;
}

#wishlist .label-checkout + div > div{
    width: 100%;
    
}

#wishlist td,
#wishlist th{
    line-height: 15px;
    padding: 5px 15px;
}

#wishlist td {
    border-top: 1px solid black;
}

#wishlist a.addCart {
    font-size: 11px;
}

#wishlist img {
    width: 70px;
    height: 60px;
}

/* ------------------------ END OF BODY CSS------------------*/
/* ----------------------- FOOTER CSS ------------------------*/
div#footer {
    padding-top: 40px;
    border-top: 1px solid grey;
}

#footer a{
    color: black;
    font-family: 'Roboto', sans-serif;
}

.footer-div {
    float:left;
    width: 280px;
}

#logo-footer-img img {
    height: 100px;
    width: 250px;
    margin-top: -40px;
}


/* ----------------------- HELPER CSS ------------------------*/
.clear {
    clear: both;
}

.float-left {
    float:left;
}

.float-right {
    float: right;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}

/* ----------------------- BOOTSTRAP OVERRIDE -------------------*/

.glyphicon-remove {
    cursor: pointer;
}

.modal-content {
    font-family: 'Montserrat', sans-serif;
}

.glyphicon-envelope{
    font-size: 20px;
}