@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        @Html.ActionLink("My Account", "Index", "Account", routeValues: null, htmlAttributes: null)<span>  /  </span><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    
    }
}
else
{
    @Html.ActionLink("Sign In", "Login", "Account")<span>  /  </span>@Html.ActionLink("Register", "Register", "Account")
    
}
