<h2>Thank You for purchasing at our store!</h2>
<h4>Your order has been submitted.</h4>
<p>Please review your order</p>
<br />
<h3>Your Order number is 20</h3>
<table>
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
</table>