
@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>

<p>Bla bla bla bla</p>
<p>Bla bla bla bla</p>
<p>Bla bla bla bla</p>
<p>Bla bla bla bla</p>
<p>Bla bla bla bla</p>

@Html.ActionLink("a", "Complete", new { id = ViewBag.Id })