@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<br />
<p>Welcome to Namaskara Superfood,</p>
<br />

<p>Namaskara is other word for Namaste (Sanskrit). It is a respectful form of greeting widely used in Indian subcontinent that is done by bringing the palms together at chest high and bowing down slightly. Namaskara symbolizes a sense of sharing spiritual connection and creates a sense and feeling of oneness and balance.</p>

<br />
<br />

<h5><strong>Our Mission</strong></h5>

<br />
<p>Namaskara Superfood was founded in late 2015 with a mission to provide Indonesian people with an easy access to a more natural alternative of nutrient-dense food for building balanced and better health and wellbeing.</p>
<br />
<p>Our selected natural and organic superfood products are loved by the health-conscious people because they are processed minimally and packed with extra-large doses of vitamins and minerals.</p>