
@{
    ViewBag.Title = "Exchange Policy";
}

<h2>Exchange Policy</h2>

<br />

<p>&nbsp;1. &nbsp;&nbsp;If you are exchanging a product as a result of the product being defective, we will cover the shipping/delivery costs in a condition that a valid delivery receipt can be provided and sent to us via email or Whatsapp. Otherwise, we will only cover 50% of the total costs aswe find appropriate.</p>
<p>2. &nbsp;&nbsp;This exchange policy is only applicable when the exchange request is made no more than 2 weeks after shipping date.</p>

<br />
<h2>How to exchange an item/product:</h2>
<br />

<p>&nbsp;&nbsp;&nbsp; 1.&nbsp; Check whether the item/product you found defective falls into one of our definitions of <a href="#eligibleForExchange">Item/Product Condition Eligible for Exchange</a>.</p>
<p>&nbsp;&nbsp; 2.&nbsp; Contact us via email or Whatsapp together with an image proof of the item/product you found defective.</p>
<p>&nbsp;&nbsp; 3.&nbsp; If we agree that the item falls into a defective category, we will then contact you for further assistance in exchanging the item/product.</p>

<br />
<h2 id="eligibleForExchange">Item/Product Condition Eligible for Exchange</h2>
<br />

<p>&nbsp;1. &nbsp; Products that have passed their expiry date.</p><p>2. &nbsp; Packaging fault that causes leakage leading to the product being inconsumable.</p>