
@{
    ViewBag.Title = "Exchange Policy";
}
<div class="exchange-policy">
    <h2>Exchange Policy</h2>

    <br />
    <table>
        <tr>
            <td>1.</td>
            <td>If you are exchanging a product as a result of the product being defective, we will cover the shipping/delivery costs in a condition that a valid delivery receipt can be provided and sent to us via email or Whatsapp. Otherwise, we will only cover 50% of the total costs aswe find appropriate.</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>This exchange policy is only applicable when the exchange request is made no more than 2 weeks after shipping date.</td>
        </tr>
    </table>

    <br />
    <h2>How to exchange an item/product:</h2>
    <br />
    <table>
        <tr>
            <td>1.</td>
            <td>Check whether the item/product you found defective falls into one of our definitions of <a href="#eligibleForExchange">Item/Product Condition Eligible for Exchange</a>.</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Contact us via email or Whatsapp together with an image proof of the item/product you found defective.</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>If we agree that the item falls into a defective category, we will then contact you for further assistance in exchanging the item/product.</td>
        </tr>
    </table>
 

    <br />
    <h2 id="eligibleForExchange">Item/Product Condition Eligible for Exchange</h2>
    <br />

    <table>
        <tr>
            <td>1.</td>
            <td>Products that have passed their expiry date.</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Packaging fault that causes leakage leading to the product being inconsumable.</td>
        </tr>
        
    </table>

    
</div>
