
@{
    ViewBag.Title = "FAQ";
}

<h2>Frequently Asked Questions</h2>

<br />
<p>Welcome to Namaskara Superfood,</p>
<br />

<p>If you have other questions that you don't see listed above please contact us via @Html.ActionLink("email", "Contact") and we will get back to you very soon.</p>

<br />
<br />

<h4><strong>Ordering</strong></h4>

<br />
<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; How to order?</strong></p>
    <p>If purchasing for personal use, you can order directly from our website by adding the desired items to your cart and complete the checkout process. Please contact us via @Html.ActionLink("email", "Contact") if you wish to order in bulk.</p>
</div>

<br />
<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; Can I order your products outside Indonesia?</strong></p>
    <p>Sorry, we do not ship overseas at this moment.</p>
</div>

<br />
<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; Can orders be modified after they are placed?</strong></p>
    <p>Sorry, orders cannot be modified once they are submitted. </p>
</div>
<br />

<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; How can i track my order?</strong></p>
    <p>You can check your order status by going to “My Account” page.</p>
</div>
<br />

<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; How do i use my voucher/coupon?</strong></p>
    <p>To activate your discount please type your voucher/coupon code in the Coupon Code box during checkout. Promo/discount will be calculated automatically.</p>
</div>

<br />
<br />

<h4><strong>Shipping</strong></h4>
<br />
<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; What is your package delivery company partner?</strong></p>
    <p>We team up with JNE in delivering your orders. </p>
</div>
<br />

<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; How long will my order take to ship?</strong></p>
    <p>Most orders ship within 24 - 48 hours from the time payment has been made. You should receive your order within 2 to 6 business days after your payment has been confirmed by Namaskara team.</p>
</div>
<br />

<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; Can orders be rushed?</strong></p>
    <p>You can opt to have your orders shipped using an express service by clicking the JNE Service YES during checkout.</p>
</div>
<br />

<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; How can i calculate my shipping cost?</strong></p>
    <p>Shipping cost is calculated based on by weight & distance. You can get an approximate shipping cost to your address at jne.co.if/tarif.</p>
</div>


<br />
<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; How do i calculate the weight of liquid products?</strong></p>
    <p>Weight of liquid products is calculated as follows: 1 ml = 1 g (milk, oil, etc). The type of packaging used will also affect the final weight of the product.</p>

</div>

<br />
<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; Do you do international shipping?</strong></p>
    <p>Sorry, we do not ship overseas at this moment.</p>
</div>

<br />
<h4><strong>Returns</strong></h4>

<br />
<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; Do you accept product returns or exchanges?</strong></p>
    <p>Only products that fall into the categories stated in our @Html.ActionLink("Exchange Policy", "ExchangePolicy") can be exchanged. But we do not accept returns.</p>

</div>

<br />
<h4><strong>Products</strong></h4>

<br />
<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; What is a superfood?</strong></p>
    <p>The Oxford English dictionary describes a superfood as “a nutrient-rich food considered to be especially beneficial for health and well-being”. The Merriam-Webster dictionary defines it as “a super nutrient-dense food, loaded with vitamins, minerals, fibre, antioxidants, and/or phytonutrients”.</p>
    <p>In general, superfoods refer to foods, especially fruits and vegetables that are packed with large doses of antioxidants, polyphenols, vitamins, and minerals beneficial for our health above that of other foods.</p>

</div>

<br />
<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; Do you offer samples of your products to consumers?</strong></p>
    <p>Sorry, we do not have sample sizes of our products at the moment.</p>

</div>

<br />
<h4><strong>Storage</strong></h4>

<br />
<div class="qna">
    <p><strong>Q:&nbsp;&nbsp; How should store my superfoods?</strong></p>
    <p>We recommend that you store superfoods in a cool and dry place. Some products should be refrigerated after opening such as milks and canned beans.</p>

</div>

