@{
    ViewBag.Title = "Home Page";
}
<div id="home" class="fleft-main">
    <div>
        @{ Html.RenderAction("CategoryList", "Store");}
    </div>

    <div class="fleft-right">
        <div>
            <img id="slideshow" src="~/Images/Sample Slideshow.png" />
        </div>
        <div>
            Logo Mobil<span><strong>Delivery to all areas in Indonesia</strong></span>
        </div>
    </div>
</div>
<div class="clear"></div>



