
@{
    ViewBag.Title = "Namaskara Superfood's Terms And Conditions";
}

<h2>Terms & Conditions</h2>

<br />
<h4>Operating Hours</h4>

<p>We operate 7 days a week, Monday to Sunday from 9 AM – 7 PM (WIB) and can be reached via email or Whatsapp.</p>
<p>We do not operate during public holidays; any means of communication will not be responded during these times.</p>

<br />

<h4>Delivery/Shipping</h4>

<p>Namaskara Superfood is not held accountable for any item lost during shipping and package cannot be refunded/returned once the package has been received and signed for.</p>
<p>Faulty items/products can be exchanged if falls into @Html.ActionLink("Item/Product Condition Eligible for Exchange", "ExchangePolicy").</p>

<br />


