
@{
    ViewBag.Title = "Dashboard";
}

<h2>Admin Dashboard</h2>

@Html.ActionLink("Manage Orders", "OrderIndex", "StoreManager")
<br />
@Html.ActionLink("Manage Products", "ProductIndex", "StoreManager")
<br />
@Html.ActionLink("Manage Promos", "PromoIndex", "StoreManager")



